{{- /* asked once on first interactive init, then remembered; CI and
       other non-TTY runs silently get the default */ -}}
{{- $email := "ronald@lokilabs.nl" -}}
{{- if stdinIsATTY -}}
{{-   $email = promptStringOnce . "email" "Git email address" $email -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
